altgraph==0.17.4
numpy==2.1.1
packaging==24.1
pefile==2024.8.26
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyqtgraph==0.13.7
PySide6==6.8.1.1
PySide6_Addons==6.8.1.1
PySide6_Essentials==6.8.1.1
pywin32-ctypes==0.2.3
setuptools>=78.1.1
shiboken6==6.8.1.1
